# Xcode
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/configuration/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM
*.hmap
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Claude Code
.claude/

